body {
    margin-left:200px;
    margin-right:200px;
    padding: 0;
    /* backgro      und-color: violet; */
  }
    
.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.main-container .title{
    display: flex;
    justify-content:space-between;
    align-items:center;
    /* margin-left: 50px; */
    /* background-image:radial-gradient(white,violet)   */
    /* background-color:violet; */
    /* margin-right:195px; */
    /* margin-left:00px; */
    /* width:100%; */
    border:1px solid #121213;
    
}
.main-container
{
    justify-content:space-between;
    align-items:center;
    /* margin-left: 50px; */    
}
.table1{

    justify-content:space-evenly;
    align-items:center;
    /* margin-left: 50px; */
    /* background-image:radial-gradient(white,violet) */
    /* background-color: violet; */
    /*  */
    border-: 1px solid #121213;

}
.version-div{
    justify-content:space-between;
    display: flex;
    align-items:center;
    /* margin-left: 50px; */

}
.feature-details{

    /* justify-content:space-between;
    align-items:center; */
    /* margin-left: 50px; */
    width:100%;
    margin-right:500px;

}
.heading{
    color:#d50000;
    border-right: medium none;
  font: 16px "Google-Oswald", Arial;
  text-transform: uppercase;
  width: 86px;
  padding-left: 10px;
}
/* .table1{
border-top: groove;

} */
/* .border-top{
    border-top: groove;

} */
.material-symbols-sharp{
    display: flex;
    gap:7px;
    align-items: center;
}
.material-symbols-sharp{
    display: flex;
    gap:7px;
    align-items: center;
}
.material-symbols-sharp3{
    /* display: flex; */
    gap:7px;
    align-items: center;
}
.material-symbols-sharp4{
    /* display: flex; */
    gap:7px;
    align-items: center;
}
.material-symbols-sharp5{
    /* display: flex; */
    gap:7px;
    align-items: center;
}
table, th, td {
    /* border:1px solid rgb(19, 19, 20); */
    border-collapse: collapse;
    column-width: 33%;
  }

 
  .specs1{
    display: flex;
    align-items: center;
    gap:7px;
    
  }
  .specs2{
    display: flex;
    align-items: center;
    gap:7px;
    
  }
  .specs3{
    display: flex;
    align-items: center;
    gap:7px;
    
  }
  .specs4{
    display: flex;
    align-items: center;
    gap:7px;
    
  }
  .specs5{
    display: flex;
    align-items: center;
    gap:7px;
    
  }
  /* .specs-row{
    
    /* background-image:radial-gradient(rgb(53, 2, 53),white); */
    /* background-image:radial-gradient(white,rgb(31, 3, 31))
  } */ */
  .commonclass{
    border:1px solid #121213
  }

